<h1>Editing Post</h1>

<%= form_for @post, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
  <%= f.label :title, 'Titre' %>
  <%= f.text_field :title %>

  <%= f.label :content, 'Contenu' %>
  <%= f.text_area :content, size: "210x40" %>
  
  <!-- @TODO: add bootstrap -->
  <%= f.submit "Update" %> 

<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
